@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --blue: #0188DF;
    --black: #354046;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform:capitalize;
    font-weight: 400;
    transition: all .2s linear;
    font-family: 'Roboto', sans-serif;
}

*::selection{
    background: var(--black);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

